@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/* --------------------------------------------
  Modify at 09/12/2015
  @author by choijun
-------------------------------------------- */
.nav-tab-toggle {
  display: none;
}

.tab-content > .active {
  display: block !important;
}

/* BOOK FORM */
.form-book-mobile {
  display: none;
}

.form-book-mobile .form-row .wpcf7-textarea,
.form-book-mobile .form-row .wpcf7-number,
.form-book-mobile .form-row .wpcf7-date,
.form-book-mobile .form-row .wpcf7-text {
  padding: 5px 10px;
  border: 1px solid #117700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.275) inset;
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.275) inset;
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.275) inset;
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.275) inset;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.275) inset;
}

.form-book-mobile .form-row .wpcf7-number,
.form-book-mobile .form-row .wpcf7-date,
.form-book-mobile .form-row .wpcf7-text {
  max-width: 280px;
  width: 100%;
  height: 35px;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap {
  width: 100%;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.adultes,
.form-book-mobile .form-row .wpcf7-form-control-wrap.enfants,
.form-book-mobile .form-row .wpcf7-form-control-wrap.bebe {
  width: 80px;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.adultes select,
.form-book-mobile .form-row .wpcf7-form-control-wrap.enfants select,
.form-book-mobile .form-row .wpcf7-form-control-wrap.bebe select {
  width: 100%;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.depart_vers:before {
  content: "\f073";
  font-family: FontAwesome;
  left: 5px;
  position: absolute;
  top: 12px;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.depart_vers input {
  width: 100%;
  padding-left: 25px;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  position: relative;
  background-image: url("../images/room1.jpg");
  background-size: cover;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item:nth-child(2) {
  background-image: url("../images/room2.jpg");
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item:nth-child(3) {
  background-image: url("../images/room3.jpg");
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item:nth-child(4) {
  background-image: url("../images/room4.jpg");
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item:before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item.is_checked:before {
  opacity: 0;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item.is_checked label:before {
  display: block;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item .wpcf7-list-item-label {
  color: greenyellow;
  position: absolute;
  left: 50%;
  bottom: 0%;
  font-size: 20px;
  font-weight: bold;
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
  transform: translate(-50%,0%);
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item label:before {
  content: "\f046";
  font-family: FontAwesome;
  font-size: 30px;
  font-weight: normal;
  left: 5px;
  position: absolute;
  top: 10px;
  display: none;
  color: #fff;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item label input {
  display: none;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.type_de_voyage,
.form-book-mobile .form-row .wpcf7-form-control-wrap.destination {
  margin-top: 10px;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.type_de_voyage .wpcf7-list-item,
.form-book-mobile .form-row .wpcf7-form-control-wrap.destination .wpcf7-list-item {
  display: block;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 0;
  margin-top: 0;
  text-align: right;
  width: 200px;
}

.form-book-mobile .form-row .wpcf7-form-control-wrap.type_de_voyage .wpcf7-list-item label,
.form-book-mobile .form-row .wpcf7-form-control-wrap.destination .wpcf7-list-item label {
  width: 100%;
}

.form-book-mobile .form-row .desc-text {
  margin-left: 15px;
}

.form-book-mobile .form-row > label {
  width: 100%;
}

.form-book-mobile .form-row > label > span:first-child {
  display: block;
  font-weight: bold;
  line-height: 30px;
  color: #117700;
}

.form-book-mobile .form-row > label br {
  display: none;
}

.form-book-mobile .form-row > label .help-text {
  font-size: 14px;
}

.hotel-in-city-table{
  width: 100%;
  min-width: 700px;
  font-size: 13px;
  font-family: Oxygen;
}
.hotel-in-city-table td,
.hotel-in-city-table th{
  padding: 10px 5px !important;
  text-transform: none;
  vertical-align: middle !important;
  width: 20%;
}
.hotel-in-city-table th{
  background: #087502;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-bottom: none !important;
}
.hotel-in-city-table td p{
  margin-bottom: 0;
  float: left;
  width:100%;
}
.hotel-in-city-table tr:nth-child(2n){
  background: #D7E8C4;
}
.hotel-in-city-table td:first-child {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
.hotel-in-city-table td i {
    color: ORANGE;
    font-size: 10px;
}
.hotel-in-city-table td span {
    float: left;
    line-height: 24px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
}
.hotel-in-city-table td span:last-child{
  float: right;
}
.single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle a.active {
  background-color: #117700;
  border-radius: 4px;
  color: #fff;
}
.single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle a[href="#demander-un-devis"].active{
  background-color: #e62702;
  border-radius: 4px;
}
@media (min-width: 1024px) {
  .home.page .spb_text_introduce_widget + .spb_recent_posts_widget .recent-post {
    display: none;
  }
  .home.page .spb_text_introduce_widget + .spb_recent_posts_widget .recent-post:nth-child(1),
  .home.page .spb_text_introduce_widget + .spb_recent_posts_widget .recent-post:nth-child(2) {
    display: block;
  }
}

@media (max-width: 1025px) {
  body {
    background: #eee;
    font-family: "Oxygen", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #000;
  }
  body.page.page-id-238 .page-content-inner .form-tour,
  body.single #demander-un-devis .form-tour {
    display: none;
  }
  body.page.page-id-238 .page-content-inner .form-book-mobile,
  body.single #demander-un-devis .form-book-mobile {
    display: block;
  }
  .page.page-id-238 .page-content-inner {
    padding: 10px;
  }
  .page.page-id-238 .page-content-inner > h2 {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
    color: #fff;
    text-align: left;
    margin: -10px -10px 15px;
  }
  .page.page-id-238 .page-content-inner > h2 span {
    color: inherit !important;
  }
  .title-category .title-category {
    background: none;
    padding: 0 !important;
  }
  .related-item-list a,
  .body-text {
    font-size: 15px;
    font-family: inherit;
  }
  .related-item-list a,
  h1, h2, h3, h4, h5 {
    font-family: inherit;
  }
  #container {
    width: 100%;
  }
  .excerpt p, .excerpt {
    color: #000;
  }
  .custom-caption p,
  span.dropcap1,
  span.dropcap2,
  span.dropcap3,
  span.dropcap4,
  .spb_call_text,
  .impact-text,
  .impact-text-large,
  .testimonial-text,
  .header-advert,
  .ct-count-asset .count-number,
  #base-promo, .ct-countdown,
  .ct-icon-character, .fancy-heading h1 {
    font-family: inherit;
  }
  /* Header */
  .header-wrap {
    position: relative;
    background: #fff;
    margin-left: -9px;
    margin-right: -9px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
    -ms-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
    -o-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
  }
  .header-wrap #top-bar {
    min-height: 0;
    padding: 0 9px;
  }
  .header-wrap #top-bar .tb-right {
    display: none;
  }
  .header-wrap #top-bar .tb-left {
    float: left;
  }
  .header-wrap #top-bar #logo {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0;
  }
  .header-wrap #top-bar #logo a {
    width: 100%;
  }
  .header-wrap #top-bar #logo a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 60px;
  }
  .header-wrap #top-bar #logo img {
    max-width: 100%;
    max-height: 100%;
  }
  .header-wrap #top-bar .text-header {
    float: left;
    padding: 0;
    width: auto;
  }
  .header-wrap #top-bar .text-header .tb_certer_header {
    font-size: 17px;
    line-height: 50px;
  }
  .header-wrap #top-bar .text-header .tb_certer_header_desc {
    display: none;
  }
  #header-section {
    z-index: 9;
    position: static;
    background: none;
  }
  #header-section:before {
    display: none;
  }
  #header-section > .coo-menu-primary .menu-primary-container {
    display: none;
  }
  #header-section .mobile-menu-show {
    color: #F14F00;
    display: block !important;
    font-size: 24px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0px;
    width: 50px;
    height: 40px;
    line-height: 37px;
    margin: 5px 0;
    border-width: 0px 0px 0px 1px;
    border-color: #ddd;
  }
  #header-section .menu-search {
    display: none;
    width: 100%;
    padding-right: 10px;
    background: #117700;
  }
  #header-section .menu-search #searchform {
    width: 100%;
  }
  #header-section .menu-search .form-control {
    height: 30px;
  }
  /*  Menu */
  #mobile-menu-wrap {
    right: -240px;
    width: 240px;
    background: #004388;
    display: block;
  }
  #mobile-menu-wrap .mobile-search-form {
    border-top-color: #2270c1;
  }
  #mobile-menu-wrap #mobile-menu ul li {
    border-top-color: #2270c1;
  }
  #mobile-menu-wrap #mobile-menu ul li a:active,
  #mobile-menu-wrap #mobile-menu ul li a:hover {
    background: #1462b2 !important;
  }
  #container {
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  .mobile-menu-open #mobile-menu-wrap,
  .mobile-menu-open #container {
    -webkit-transform: translate3d(-240px, 0px, 0px);
    -moz-transform: translate3d(-240px, 0px, 0px);
    -ms-transform: translate3d(-240px, 0px, 0px);
    -o-transform: translate3d(-240px, 0px, 0px);
    transform: translate3d(-240px, 0px, 0px);
  }
  .mobile-menu-open #header-section .mobile-menu-show {
    color: #117700;
  }
  /* Main */
  .out_site_fly .widget-fly {
    width: 100%;
    bottom: -130px;
    top: auto;
    left: 0;
    right: 0;
    height: 130px;
    border: none;
    -webkit-transition: bottom 0.2s ease;
    -moz-transition: bottom 0.2s ease;
    -ms-transition: bottom 0.2s ease;
    -o-transition: bottom 0.2s ease;
    transition: bottom 0.2s ease;
  }
  .out_site_fly .widget-fly.active_fly {
    bottom: 0;
  }
  .out_site_fly .widget-fly.active_fly .widget-heading {
    bottom: 130px;
  }
  .out_site_fly .widget-fly .sidebar-fly li {
    padding: 10px 0;
  }
  .out_site_fly .widget-fly .sidebar-fly li:first-child {
    padding: 15px 0;
  }
  .out_site_fly .widget-fly .sidebar-fly li .call-free,
  .out_site_fly .widget-fly .sidebar-fly li .call-two {
    display: none;
  }
  .out_site_fly .widget-fly .sidebar-fly li .call-small {
    font-size: 14px;
  }
  .out_site_fly .widget-fly .sidebar-fly li .call-small:before {
    content: "\f232";
    font-family: FontAwesome;
    font-size: 30px;
    position: relative;
    top: 6px;
  }
  .out_site_fly .widget-fly .sidebar-fly .button-fly {
    display: block;
    height: auto;
    width: 100%;
  }
  .out_site_fly .widget-fly .sidebar-fly .button-fly span:first-child {
    padding-top: 0;
  }
  .out_site_fly .widget-fly .widget-heading {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    z-index: 9;
    left: 0;
    background: #e62702;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: bottom 0.2s ease;
    -moz-transition: bottom 0.2s ease;
    -ms-transition: bottom 0.2s ease;
    -o-transition: bottom 0.2s ease;
    transition: bottom 0.2s ease;
  }
  .out_site_fly .widget-fly .widget-heading .spb-heading {
    line-height: 40px;
  }
  .out_site_fly .widget-fly .widget-heading span {
    margin-left: 15px;
    position: relative;
  }
  .out_site_fly .widget-fly .widget-heading span:before {
    content: "\f044";
    font-family: FontAwesome;
    font-size: 24px;
    left: -30px;
    position: absolute;
  }
  #page-wrap {
    padding: 0;
  }
  .inner-page-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .home .page-content-inner {
    padding: 0;
    border: none;
    background: none;
  }
  .home .page-content-inner > .row {
    margin-left: 0;
    margin-right: 0;
    background: none;
  }
  .home .page-content-inner > .row > .spb_content_element {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .home .page-content-inner > .row > .spb_content_element.spb_image_slider_widget {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
  .home .page-content-inner > .row > .spb_content_element.spb_text_introduce_widget {
    margin-bottom: 15px;
  }
  .home .page-content-inner > .row > .spb_posts_carousel_widget {
    padding-left: 0;
    padding-right: 0;
  }
  .home .page-content-inner > .row > .spb_title_divider_widget {
    background: #117700;
    padding: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
  .home .page-content-inner > .row > .spb_title_divider_widget > .content {
    padding: 0;
  }
  .home .page-content-inner > .row > .spb_title_divider_widget > .content:before {
    display: none;
  }
  .home .page-content-inner > .row > .spb_title_divider_widget .title_block {
    display: block;
    background: none;
    text-align: left;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: inherit;
    line-height: normal;
    padding: 0.5em 1em;
  }
  .home .page-content-inner > .row .category_widget,
  .home .page-content-inner > .row .spb_head_column,
  .home .page-content-inner > .row .spb_image_slider_widget {
    max-width: none;
  }
  .home .page-content-inner .recent-posts-wrap .recent-posts {
    margin-top: 0;
    margin-bottom: 0;
  }
  .home .page-content-inner .recent-posts-wrap .recent-posts .recent-post {
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  .home .page-content-inner .recent-posts-wrap .recent-posts .details-wrap {
    height: auto;
  }
  .home .page-content-inner .item-category {
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  .home .page-content-inner .spb_image_single_widget {
    width: 50%;
    float: left;
  }
  .spb_image_slider_widget {
    margin: -10px;
  }
  .spb_text_introduce_widget .content.align_right {
    padding-left: 60px;
    padding-top: 10px;
  }
  .spb_text_introduce_widget .content.align_left {
    padding-right: 60px;
    padding-top: 10px;
  }
  .spb_text_introduce_widget .content {
    height: calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
  }
  .desception-category,
  .excerpt p, .excerpt,
  .brand-item .excerpt p,
  .recent-post h5,
  .recent-post-inner .excerpt p {
    font-size: 15px;
  }
  .spb_posts_carousel_widget .carousel-wrap {
    margin: 0;
  }
  .category_widget {
    margin-top: 0;
  }
  .category_widget > .row {
    margin-bottom: 0;
  }
  .category_widget .item-category .title-category {
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .recent-posts-wrap .recent-posts .recent-post .recent-post-inner {
    background: #fff;
  }
  .recent-posts-wrap .recent-posts .recent-post .icon-recent {
    display: none;
  }
  /* Footer */
  #footer {
    background: none;
    font-size: 15px;
  }
  #footer a {
    font-size: 15px;
  }
  #footer .col-sm-6 {
    margin-bottom: 0;
  }
  #footer .widget {
    overflow: visible;
    height: auto;
    margin-bottom: 20px;
    margin-left: -9px;
    margin-right: -9px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  #footer .widget ul {
    /* padding-bottom: 10px; */
  }

  #footer .widget-heading span {
    color: #fff;
    margin-top: 0;
    padding: 10px 17px;
  }
  #footer .widget-heading {
    background: #117700;
/*    font-size: 20px;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;*/
    text-align: left;
  }
/*  #footer .widget-heading h6 {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0 20px;
  }
  #footer .widget-heading h6:before {
    display: none;
  }*/
  #copyright {
    padding: 20px 0;
    margin-bottom: 50px;
  }
  iframe {
    max-width: 100%;
  }
  .category_widget .item-category .item-category-inner {
    overflow: hidden;
  }
  .category_widget .item-category .item-category-inner .title-category:before {
    bottom: 0;
    content: "";
    height: 400px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .page-heading {
    display: none;
  }
  .coo-main .page-content-inner {
    padding: 10px;
  }
  .coo-main .page-content-inner .title-page {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: -10px -10px 15px -10px;
    color: #fff;
    text-align: left;
  }
  .archive-page .page-content-inner {
    background: none;
    padding: 0;
    border: none;
  }
  .archive-page .page-content-inner .heading-cuisine,
  .archive-page .page-content-inner .heading-text {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-align: left;
  }
  .archive-page .page-content-inner .desception-category {
    background: #fff;
    padding: 10px 10px 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .archive-page .page-content-inner .desception-category:before {
    display: none;
  }
  .archive-page .archive-wrap {
    background: none;
    margin: 0 -10px;
  }
  .archive-page .archive-wrap .blog-item {
    padding: 0 10px;
    margin-bottom: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .archive-page .archive-wrap .blog-item > .archive-title {
    font-size: 18px;
    color: #117700;
    padding: 15px 0;
    margin: 0;
  }
  .archive-page .archive-wrap .blog-item > .archive-title * {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .archive-page .archive-wrap .blog-item > .archive-title .single-tour-time:before {
    content: "-";
  }
  .archive-page .archive-wrap .blog-item figure {
    margin-bottom: 0;
  }
  .archive-page .archive-wrap .blog-item figure img {
    border: none;
    padding: 0;
  }
  .archive-page .archive-wrap .blog-item figure .single-tour-code {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .archive-page .archive-wrap .blog-item .group-title {
    display: none;
  }
  .archive-page .archive-wrap .blog-item .btn-readmore {
    display: none;
  }
  .archive-post > .post-content,
  .archive-post .page-content-inner {
    background: none;
    padding: 0;
    border: none;
  }
  .archive-post > .post-content .article-body-wrap,
  .archive-post .page-content-inner .article-body-wrap {
    background: #fff;
    padding: 0px 10px 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .archive-post > .post-content .article-body-wrap:before,
  .archive-post .page-content-inner .article-body-wrap:before {
    display: none;
  }
  .archive-post > .post-content .article-body-wrap .single-title,
  .archive-post .page-content-inner .article-body-wrap .single-title {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 0 -10px 15px;
    color: #fff;
    text-align: left;
  }
  .archive-page .page-content-inner > .blog-wrap,
  .archive-post .page-content-inner > .blog-wrap,
  .post-content > .related-wrap {
    overflow: visible;
  }
  .archive-page .page-content-inner > .blog-wrap .related-wrap,
  .archive-post .page-content-inner > .blog-wrap .related-wrap,
  .post-content > .related-wrap .related-wrap {
    overflow: visible;
  }
  .archive-page .page-content-inner > .blog-wrap .related-items,
  .archive-post .page-content-inner > .blog-wrap .related-items,
  .post-content > .related-wrap .related-items {
    margin-left: 0;
    margin-right: 0;
  }
  .archive-page .page-content-inner > .blog-wrap .title-related,
  .archive-post .page-content-inner > .blog-wrap .title-related,
  .post-content > .related-wrap .title-related {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 10px 0px 15px 0px;
    color: #fff;
    text-align: left;
  }
  .archive-page .page-content-inner > .blog-wrap .related-item,
  .archive-post .page-content-inner > .blog-wrap .related-item,
  .post-content > .related-wrap .related-item {
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .archive-page .page-content-inner > .blog-wrap .related-item figure,
  .archive-post .page-content-inner > .blog-wrap .related-item figure,
  .post-content > .related-wrap .related-item figure {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .archive-page .page-content-inner > .blog-wrap .related-item h5,
  .archive-post .page-content-inner > .blog-wrap .related-item h5,
  .post-content > .related-wrap .related-item h5 {
    position: absolute;
    top: 0;
    font-size: 18px;
    color: #117700;
    padding: 15px 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  .archive-page .page-content-inner > .blog-wrap .related-item h5 *,
  .archive-post .page-content-inner > .blog-wrap .related-item h5 *,
  .post-content > .related-wrap .related-item h5 * {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .archive-page .page-content-inner > .blog-wrap .related-item-list,
  .archive-post .page-content-inner > .blog-wrap .related-item-list,
  .post-content > .related-wrap .related-item-list {
    padding-left: 20px;
  }
  .archive-page .page-content-inner > .blog-wrap .related-item-list:before,
  .archive-post .page-content-inner > .blog-wrap .related-item-list:before,
  .post-content > .related-wrap .related-item-list:before {
    left: 0;
  }
  .tax-aboutus-category .archive-page .blog-items.mini-items.about-us-items .about-us-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-aboutus-category .archive-page .blog-items.mini-items.about-us-items .about-us-item:after,
  .tax-aboutus-category .archive-page .blog-items.mini-items.about-us-items .about-us-item:before {
    display: none;
  }
  .tax-aboutus-category .archive-page .blog-items.mini-items.about-us-items .about-us-item .title {
    padding-bottom: 0;
  }
  .tax-aboutus-category .archive-page .blog-items.mini-items.about-us-items .about-us-item figure {
    width: 100px;
    padding-right: 15px;
  }
  .single-aboutus .archive-post .article-body-wrap .single-title {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .single-aboutus .archive-post .article-body-wrap .media-wrap-aboutus {
    text-align: center;
  }
  .single-aboutus .archive-post .article-body-wrap .media-wrap-aboutus img {
    border: none;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .tax-special-category .archive-page .mini-items .about-special-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-special-category .archive-page .mini-items .about-special-item .mini-special-wrap {
    padding: 0;
    border: none;
  }
  .tax-special-category .archive-page .mini-items .about-special-item figure {
    padding: 10px 20px 5px 0;
  }
  .tax-special-category .archive-page .mini-items .about-special-item .title {
    padding-left: 0;
    padding-bottom: 5px;
  }
  .tax-special-category .archive-page .mini-items .about-special-item .special-details-wrap {
    overflow: visible;
  }
  .page-template-page-about-us .page-content-inner {
    padding: 0;
    border: none;
    background: none;
  }
  .page-template-page-about-us .page-content-inner .title-page {
    margin: 0;
  }
  .page-template-page-about-us .page-content-inner .content-page {
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .page-template-page-about-us .page-content-inner .content-page:before {
    display: none;
  }
  .page-template-page-about-us .page-content-inner .content-page-category .text-des {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 10px 0px 15px 0px;
    color: #fff;
    text-align: left;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media {
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .category-img {
    padding-right: 15px;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .img-des-category {
    height: auto;
    width: 200px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .title-des-category {
    color: #117700;
    font-size: 16px;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .title-des-category a {
    color: inherit;
  }
  .tax-brand-category .page-content-inner .desception-category,
  .tax-book-category .page-content-inner .desception-category {
    margin-bottom: 20px;
  }
  .tax-brand-category .page-content-inner .blog-items,
  .tax-brand-category .page-content-inner .book-items,
  .tax-book-category .page-content-inner .blog-items,
  .tax-book-category .page-content-inner .book-items {
    padding: 0;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item,
  .tax-brand-category .page-content-inner .book-items .brand-item,
  .tax-book-category .page-content-inner .blog-items .brand-item,
  .tax-book-category .page-content-inner .book-items .brand-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item .mini-brand-item-wrap,
  .tax-brand-category .page-content-inner .blog-items .brand-item .mini-book-item-wrap,
  .tax-brand-category .page-content-inner .book-items .brand-item .mini-brand-item-wrap,
  .tax-brand-category .page-content-inner .book-items .brand-item .mini-book-item-wrap,
  .tax-book-category .page-content-inner .blog-items .brand-item .mini-brand-item-wrap,
  .tax-book-category .page-content-inner .blog-items .brand-item .mini-book-item-wrap,
  .tax-book-category .page-content-inner .book-items .brand-item .mini-brand-item-wrap,
  .tax-book-category .page-content-inner .book-items .brand-item .mini-book-item-wrap {
    border: none;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item figure,
  .tax-brand-category .page-content-inner .book-items .brand-item figure,
  .tax-book-category .page-content-inner .blog-items .brand-item figure,
  .tax-book-category .page-content-inner .book-items .brand-item figure {
    padding: 0 30px;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item .title,
  .tax-brand-category .page-content-inner .book-items .brand-item .title,
  .tax-book-category .page-content-inner .blog-items .brand-item .title,
  .tax-book-category .page-content-inner .book-items .brand-item .title {
    color: #117700;
    text-align: left;
    font-size: 16px;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item .title a,
  .tax-brand-category .page-content-inner .book-items .brand-item .title a,
  .tax-book-category .page-content-inner .blog-items .brand-item .title a,
  .tax-book-category .page-content-inner .book-items .brand-item .title a {
    color: inherit;
  }
  .tax-embassies-category .page-content-inner .desception-category {
    margin-bottom: 20px;
  }
  .tax-embassies-category .page-content-inner .embassies-items {
    padding: 0;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies:before {
    display: none;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies .mini-book-item-wrap {
    border: none;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies figure {
    padding: 10px;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies .title {
    color: #117700;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies .title a {
    color: inherit;
  }
  .tax-responsibility-category .page-content-inner {
    padding: 0;
    border: none;
    background: none;
  }
  .tax-responsibility-category .page-content-inner .title-page {
    margin: 0;
  }
  .tax-responsibility-category .page-content-inner .content-page {
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-responsibility-category .page-content-inner .content-page:before {
    display: none;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap .text-des {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 10px 0px 15px 0px;
    color: #fff;
    text-align: left;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media {
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media .category-img {
    padding-right: 15px;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media .img-des-category {
    height: auto;
    width: 200px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media .title-des-category {
    color: #117700;
    font-size: 16px;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media .title-des-category a {
    color: inherit;
  }
  .single-responsibility .responsibility-wrap .text-des {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 0 0px 15px;
    color: #fff;
    text-align: left;
  }
  .single-responsibility .responsibility-wrap .blog-wrap li.media-responsibility {
    background: #fff;
    padding: 10px 10px 10px;
    border: none;
    margin: 0 0 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .single-responsibility .responsibility-wrap .blog-wrap li.media-responsibility .title-des-category {
    color: #117700;
    font-size: 16px;
  }
  .single-responsibility .responsibility-wrap .blog-wrap li.media-responsibility .title-des-category a {
    color: inherit;
  }
  .title-image.col-md-12 {
    margin-bottom: 0;
  }
  .tax-testimonials-category .page-content-inner .head-page:after,
  .tax-testimonials-category .page-content-inner .head-page:before {
    display: none;
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items {
    border: none;
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-wrap .ts-mail,
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-wrap .information-tesimonial {
    width: 50%;
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item figure {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-details-wrap {
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
  }
  .desception-category:empty {
    display: none;
  }
  .tax-faqs-category .page-content-inner .blog-items {
    border: none;
  }
  .tax-faqs-category .page-content-inner .blog-items .brand-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .tax-faqs-category .page-content-inner .blog-items .brand-item .mini-brand-item-wrap {
    border: none;
    padding-top: 0;
  }
  .tax-faqs-category .page-content-inner .blog-items .brand-item .title-faqs {
    color: #117700;
    font-size: 16px;
    padding-bottom: 0;
  }
  .tax-faqs-category .page-content-inner .blog-items .brand-item .title-faqs a {
    color: inherit;
  }
  .tax-faqs-category .page-content-inner .blog-items .brand-item .brand-details-wrap {
    padding: 0;
    margin-top: 10px;
  }
  .single .archive-post .post-content-single {
    padding: 0;
    background: none;
  }
  .single .archive-post .post-content-single .single-thumb-image {
    border: none;
  }
  .single .archive-post .post-content-single .single-body-wrap {
    padding: 0;
  }
  .single .archive-post .post-content-single .single-body-wrap .descrition {
    background: #fff;
    padding: 10px 15px 0px 20px;
    line-height: 40px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .single .archive-post .post-content-single .single-body-wrap .spb_tabs .nav.nav-tabs {
    display: none;
  }
  .single .archive-post .post-content-single .single-body-wrap .tab-pane {
    background: #fff;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .single .archive-post .post-content-single .single-body-wrap .tab-pane .spb_content_element {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle {
    display: block;
    background: #ddd;
    color: #117700;
    clear: both;
    margin: 15px 0 0;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle a {
    color: inherit;
    display: block;
    padding: 5px 10px;
  }
  .single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
  }
  .single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle a.active:after {
    content: "\f0d8";
  }
  .single .archive-post .post-content-single .single-body-wrap .nav-tab-toggle a[href="#demander-un-devis"] {
    background: #e62702;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .single .archive-post .post-content-single .related-wrap {
    padding: 0;
  }
  .single .archive-post .post-content-single .related-wrap .title-related {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 15px 0;
    color: #fff;
    text-align: left;
  }
  .search .page-content-inner .search-items {
    margin: 0;
  }
  .search .page-content-inner .search-items .blog-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .search .page-content-inner .search-items .blog-item time {
    margin-bottom: 10px;
  }
  .pagination-wrap a:hover {
    color: #117700;
  }
  .pagination-wrap li span.current {
    background: #117700;
  }
  .left-sidebar .sidebar-inner > .widget {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  .left-sidebar .sidebar-inner > .widget.widget_service ul {
    border: none;
  }
  .left-sidebar .sidebar-inner .widget-heading {
    background: #117700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    padding: 10px;
    font-weight: normal;
  }
  .left-sidebar .sidebar-inner .widget-heading .spb-heading {
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
  }
  .single-post .archive-post .post-content-single .related-wrap .related-items li {
    width: 100%;
  }
  .single-post .archive-post .post-content-single .related-wrap .owl-item .item-category-inner img {
    width: 100%;
  }
  .page-id-1529 .page-content-inner > .destination-block.clearfix {
    display: none;
  }
  .page-id-1529 .page-content-inner .content-page-category > .text-des {
    display: none;
  }
  .information-tesimonial > * {
    font-size: 15px;
    line-height: 24px;
  }
  .left-sidebar .widget ul,
  .right-sidebar .widget ul {
    padding-left: 20px;
    padding-right: 10px;
  }
  .left-sidebar .widget ul li a,
  .right-sidebar .widget ul li a {
    font-size: 14px;
    line-height: 26px;
  }
  .widget.widget_service ul li {
    font-size: 15px;
  }
  .left-sidebar .sidebar-inner > .widget.widget_service ul {
    padding-left: 25px;
  }
  .page.page-id-149 .page-content-inner .form-newletter,
  .page.page-id-124 .page-content-inner .form-newletter {
    display: none;
  }
  .page.page-id-149 .page-content-inner .form-book-mobile,
  .page.page-id-124 .page-content-inner .form-book-mobile {
    display: block;
  }
}

@media (max-width: 1025px) and (min-width: 768px) {
  .left-sidebar.col-md-pull-6,
  .left-sidebar.col-sm-3.col-sm-pull-9 {
    right: 75%;
    width: 25%;
    margin-bottom: 20px;
  }
  .coo-main.col-md-6.col-md-push-3,
  .coo-main.col-md-9.col-sm-push-3,
  .page-content.col-md-9.col-sm-push-3 {
    left: 25%;
    width: 75%;
  }
  .right-sidebar.col-md-3 {
    float: left;
    right: 75%;
    width: 25%;
  }
  .right-sidebar.col-md-3 h4.spb-heading {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #footer {
    padding: 0 9px;
  }
  #footer .widget {
    min-height: 200px;
  }
  .home .page-content-inner .wp-image-68 {
    min-height: 328px;
  }
  /*  Single Destination */
  .page-template-page-sea .destination-block,
  .page-template-page-destination .destination-block {
    padding: 20px 10px;
  }
  .page-template-page-sea ul.destination-list-ul li,
  .page-template-page-destination ul.destination-list-ul li {
    width: 150px;
  }
  .page-template-page-sea .destination-img img,
  .page-template-page-destination .destination-img img {
    max-width: 150px;
  }
  .page-template-page-sea .content-page-category,
  .page-template-page-destination .content-page-category {
    margin-left: -9px;
    margin-right: -9px;
  }
  .page-template-page-sea .content-page-category > .text-des,
  .page-template-page-destination .content-page-category > .text-des {
    padding-right: 10px;
    padding-left: 10px;
  }
  .page-template-page-sea .content-page-category .item-destination-inner,
  .page-template-page-destination .content-page-category .item-destination-inner {
    height: auto;
  }
  .page-template-page-sea .content-page-category .item-destination,
  .page-template-page-destination .content-page-category .item-destination {
    width: 50%;
    float: left;
  }
  .page-template-page-sea .content-page-category .item-destination:nth-child(2n),
  .page-template-page-destination .content-page-category .item-destination:nth-child(2n) {
    clear: both;
  }
  .page-template-page-sea .content-page-category .item-destination .title-category,
  .page-template-page-destination .content-page-category .item-destination .title-category {
    position: static;
  }
  .page-template-page-sea .content-page-category .item-destination .icon-read-more,
  .page-template-page-destination .content-page-category .item-destination .icon-read-more {
    display: none;
  }
  .page-template-page-sea .content-page-category .item-destination img,
  .page-template-page-destination .content-page-category .item-destination img {
    max-height: 170px;
    width: 100%;
  }
  .page-template-page-sea .content-page-category .item-destination:nth-child(2n) {
    clear: none;
  }
  .page-template-page-sea .content-page-category .item-destination:nth-child(2n+1) {
    clear: both;
  }
  .content-page-category .item-destination .title-category {
    font-size: 14px;
    padding: 5px 0;
  }
  /* Single Tour */
  .page-template-page-booking .content-page-category {
    margin-left: -9px;
    margin-right: -9px;
  }
  .page-template-page-booking .content-page-category .item-destination-inner {
    height: auto;
  }
  .page-template-page-booking .content-page-category .item-destination {
    width: 50%;
    float: left;
  }
  .page-template-page-booking .content-page-category .item-destination:nth-child(2n + 1) {
    clear: both;
  }
  .page-template-page-booking .content-page-category .item-destination .title-category {
    position: static;
  }
  .page-template-page-booking .content-page-category .item-destination .icon-read-more {
    display: none;
  }
  .page-template-page-booking .content-page-category .item-destination img {
    max-height: 170px;
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .home.page .spb_text_introduce_widget .content.align_left {
    padding-right: 110px;
  }
  .home.page .spb_text_introduce_widget .content.align_right {
    padding-left: 110px;
  }
  .home.page .spb_text_introduce_widget .spb_call_text {
    font-size: 16px;
    max-height: none;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
  }
}

@media (max-width: 767px) {
  .left-sidebar .widget ul.recent-testimonials-list, .right-sidebar .widget ul.recent-testimonials-list {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .fancybox-opened .fancybox-skin {
    padding: 0 !important;
  }
  .fancybox-opened .fancybox-skin .fancybox-close {
    display: none !important;
  }
  .fancybox-opened .fancybox-skin .fancybox-nav span {
    visibility: visible;
  }
  .page-content.col-md-9.col-sm-push-3 {
    width: 100%;
    left: 0;
  }
  #main-container .left-sidebar {
    width: 100%;
    display: block;
    right: 0%;
    left: 0;
  }
  .item-destination-inner {
    height: auto;
  }
  .content-page-category li {
    padding-bottom: 0;
  }
  .home .row.home-special-fix > .spb_content_element:nth-child(2) {
    width: 120px;
    float: left;
    z-index: 2;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  .home .row.home-special-fix > .spb_content_element:nth-child(3n) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .home .page-content-inner .recent-posts-wrap .recent-posts .recent-post {
    width: 100%;
    margin-bottom: 20px;
  }
  .home .page-content-inner .spb_image_single_widget {
    width: 100%;
    margin-bottom: 15px;
  }
  .home .page-content-inner .item-category {
    margin-bottom: 0;
  }
  .category_widget .item-category .title-category {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .band-client .sidebar-ad-grid ul {
    padding-left: 0;
    padding-right: 0;
  }
  .band-client .sidebar-ad-grid ul > li {
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    max-width: none;
    min-height: 0;
  }
}

@media (max-width: 479px) {
  .form-book-mobile .form-row .wpcf7-form-control-wrap.hebergement .wpcf7-list-item:nth-child(2n+1) {
    clear: both;
  }
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-wrap .ts-mail,
  .tax-testimonials-category .page-content-inner .blog-wrap .testimonial-items .brand-item .testimonial-wrap .information-tesimonial {
    width: 100%;
  }
  .single-responsibility .responsibility-wrap .blog-wrap li.media-responsibility .category-img {
    display: block;
    width: 100%;
    padding: 0 0 15px;
  }
  .single-responsibility .responsibility-wrap .blog-wrap li.media-responsibility .category-img .img-des-category {
    width: 100%;
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media .category-img {
    width: 100%;
    display: block;
    padding: 0 0 15px;
  }
  .tax-responsibility-category .page-content-inner .blog-wrap li.media .media-body {
    overflow: visible;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item .brand-img,
  .tax-book-category .page-content-inner .book-items .brand-item .brand-img {
    border: none;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item .mini-brand-item-wrap,
  .tax-brand-category .page-content-inner .blog-items .brand-item .mini-book-item-wrap,
  .tax-book-category .page-content-inner .book-items .brand-item .mini-brand-item-wrap,
  .tax-book-category .page-content-inner .book-items .brand-item .mini-book-item-wrap {
    padding-top: 0;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item figure,
  .tax-book-category .page-content-inner .book-items .brand-item figure {
    padding: 0 15px 0 0;
  }
  .tax-brand-category .page-content-inner .blog-items .brand-item .brand-details-wrap,
  .tax-book-category .page-content-inner .book-items .brand-item .brand-details-wrap {
    padding-top: 0;
    padding-left: 0;
    overflow: visible;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies figure {
    width: 100%;
  }
  .tax-embassies-category .page-content-inner .embassies-items .brand-embassies .title {
    padding: 10px 0;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media a {
    display: block;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .category-img {
    padding: 0;
    text-align: center;
    display: block;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .img-des-category {
    width: auto;
    max-width: 100%;
  }
  .page-template-page-about-us .page-content-inner .content-page-category li.media .title-des-category {
    padding: 15px 0 5px;
    margin-bottom: 0;
  }
  .single-aboutus .archive-post .article-body-wrap .media-wrap-aboutus img {
    width: 100%;
    margin-right: -10px;
    margin-left: -10px;
  }
  .spb_text_introduce_widget .content.align_left,
  .spb_text_introduce_widget .content.align_right {
    width: 80%;
  }
  .spb_call_text {
    height: calc( 100% - 30px);
    height: -webkit-calc( 100% - 30px);
    height: -moz-calc( 100% - 30px);
    height: -ms-calc( 100% - 30px);
  }
  .spb_call_text > p {
    text-align: left !important;
  }
  .spb_call_text + .ct-button.accent {
    position: static;
  }
}

@media (max-width: 359px) {
  .header-wrap #top-bar .text-header .tb_certer_header {
    font-size: 14px;
  }
}


@media (max-width: 600px) {
  .spb_wrapper .table-responsive{
    border-color: #999;
    border-bottom-width: 0;
  }
  table.table.hotel-in-city-table{
      min-width: 0;
  }
  .hotel-in-city-table.table > tbody > tr > td:empty,
  table.table.hotel-in-city-table thead{
    display: none !important;
  }
  .hotel-in-city-table.table > tbody > tr{
    /*background: none;*/
  }
  .hotel-in-city-table.table > tbody > tr:last-child > td,
  .hotel-in-city-table.table > tbody > tr > td {
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    border-color: transparent transparent #999 transparent;
    display: block;
    float: left;
    font-size: 13px;
    position: relative;
    text-align: left;
    text-indent: 125px;
    width: 100%;
    min-height: 40px;
    padding: 4px 6px !important;
  }
  .hotel-in-city-table.table > tbody > tr > td:before {
    border-right: 1px solid #999;
    content: attr(data-th);
    display: inline-block;
    font-size: 14px;
    height: 100%;
    left: 0;
    padding-top: 10px;
    position: absolute;
    text-align: left;
    text-indent: 10px;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    width: 120px;
  }
  .hotel-in-city-table.table > tbody > tr > td:first-child {
    background-color: #1b7711;
    font-size: 15px;
    color: #fff;
    padding: 10px !important;
  }
  .hotel-in-city-table.table > tbody > tr > td span{

  }
  .hotel-in-city-table.table > tbody > tr > td span + span {
    text-indent: 0;
    width: auto;
  }
}

div#container.boxed-layout {
    position: relative;
}

.language-swicher a {
    background: url('../images/flag.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 20px;
    display: inline-block;
    margin-left: 10px;
    line-height: 30px;
    color:#555;
}
.language-swicher .lang-vi {
    background-position: 0px 4px;
}
.language-swicher .lang-cambodge {
    background-position: 0 -52px;
}
.language-swicher .lang-lao {
    background-position: 0 -107px;
}
.language-swicher .lang-myanmar {
    background: url('../images/flag-myanmar.png') no-repeat left 3px;
}
.language-swicher .lang-chine {
    background: url('../images/flag-chine.png') no-repeat left center;
}
.language-swicher a:hover,
.language-swicher a.current {
    color: #ec7c00;
}
.copyright-divider .language-swicher a:hover,
.copyright-divider .language-swicher a.current {
    color: #ec7c00 !important;
}
.copyright-divider .language-swicher {
    position: static;
    background-color: transparent;
    padding-top: 0;
}
@media(min-width:1025px){
  .language-swicher {
      position: absolute;
      top: 80px;
      right: 10px;
      z-index: 9;
  }
  .hotel-in-city-table td, th {
      border-color: #555 !important;
  }
}
@media(max-width:1025px){
  .widget #mc_embed_signup form span {
      font-size: 15px;
  }
  .phone-header {
    position: relative;
    top: 0;
    right: 0;
  }
  .phone-header .widget {
    background: #fff;
    margin: 0 -10px;
    padding: 10px 0 0;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .language-swicher {
      text-align: center;
      padding-top: 10px;
      background-color: #fff;
      margin-left: -10px;
      margin-right: -10px;
      padding-bottom: 8px;
  }
  .inner-page-wrap{
    padding-top:10px;
  }
}

/* --------------------------------------------
  End Modify at 09/12/2015
  @author by choijun
-------------------------------------------- */
#footer-wrap .security-container .security-row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px; }
  #footer-wrap .security-container .security-row .security-sub-row {
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px; }
    #footer-wrap .security-container .security-row .security-sub-row .security-img {
      margin-bottom: 10px; }
      #footer-wrap .security-container .security-row .security-sub-row .security-img img {
        max-height: 170px;min-height: 110px;height: 110px; }
    #footer-wrap .security-container .security-row .security-sub-row .security-title {
      font-size: 20px;
      color: #0C7B4A;
      max-height: 55px;
      overflow: hidden; }